In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd

In [4]:
from knn import *

In [5]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pd.read_csv(url, names=names)

In [6]:
dataset.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [23]:
iris_array = dataset.values
# iris_array[0:5]

# Shape the data for use in this knn algorithm.
# Simply preparing the data in a way that this
# function expects.

iris_data = iris_array[:, 0:4]
iris_names = iris_array[:, 4]

# Conver the numpy array to a list so the logic works.
iris_input = [(list(d), s) for d, s in zip(iris_data, iris_names)]

In [27]:
# try several different values for k
for k in [1, 3, 4, 5, 7]:
    
    num_correct = 0

    for data, actual_species in iris_input:

        other_species = [os for os in iris_input if os != (data, actual_species)]

        predicted_species = knn_classify(k, other_species, data)

        if predicted_species == actual_species:
            num_correct += 1
            
    print(k, "neighbor[s]:", num_correct, "correct out of", len(iris_input))

1 neighbor[s]: 144 correct out of 150
3 neighbor[s]: 144 correct out of 150
4 neighbor[s]: 144 correct out of 150
5 neighbor[s]: 145 correct out of 150
7 neighbor[s]: 145 correct out of 150